body {
	background: #f2f2f2;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

/* --- --- BARRA LATERAL --- --- */
.barra-lateral {
	background: #262a34;
	color: #fff;
	min-width: 300px;
	min-height: 100vh;
	padding: 0;
}

.barra-lateral a {
	color: #fff;
}

/* --- LOGO --- */
.barra-lateral .logo {
	background: #0275db;
	margin-bottom: 2px;
}

.barra-lateral .logo h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
	text-align: center;
	font-weight: 300;
	margin:0;
}

/* --- MENU --- */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover {
	background: #35ae6b;
	text-decoration: none;
}

.barra-lateral .menu a i {
	margin-right: 20px;
	font-weight: normal;
}

/* --- --- MAIN --- --- */
.main {
	padding-top: 40px;
}

/* --- Widget Comentarios --- */
.main .contenedor {
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.main .comentarios .comentario {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #dfdfdf;
}

/*-- card--*/

.card .card-header{
	background-color: rgb(2, 117, 219);
	color: #fff;
}

/*--estilos para el parsley js--*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  color: #B94A48;
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 1300px) {
	.barra-lateral {
		min-width: auto;
	}

	.barra-lateral .logo {
		display: none;
	}

	.barra-lateral .menu a span {
		
	}

	.barra-lateral .menu a i {
		margin:0;
	}
}

@media screen and (max-width: 575px) {
	.barra-lateral {
		min-height: auto;
	}

	.barra-lateral .menu a {
		display: inline-block;
		border-bottom: none;
	}

}